params {
    samplesheet = false
    samplesheet_sep = ","
    sample_col = "sample"
    path_col = "path"
    umi_len = 10
    min_reads = 100
    results = false
    genome_fasta = false
    k = 2
    flags = "--no_umi True --skip_remap True --ignore True"

    container__samtools = "quay.io/biocontainers/samtools:1.16.1--h6899075_1"
    container__misc = "quay.io/hdc-workflows/souper-star:7f4c9d0"
    container__souporcell = "quay.io/cumulus/souporcell:2021.03"
}

process {
    withLabel: io_limited {
        cpus = { 2 * task.attempt }
        memory = { 8.GB * task.attempt }
    }
    withLabel: cpu_large {
        cpus = { 16 * task.attempt }
        memory = { 30.GB * task.attempt }
    }
    withLabel: mem_large {
        cpus = { 16 * task.attempt }
        memory = { 120.GB * task.attempt }
    }

}